/* Start global rules*/
body {
   height: 4000px;
   
}

/* start navbar*/
.scrolled {
   background-color: rgba(0, 0, 0, .5);
}
/*Start header*/
.header {
   
   background: url(../img/winter-coming.jpg) no-repeat top center;
   -webkit-background-size : cover;
   height: 100vh;
   position: relative;
   color: #FFF;
}

.header .overlay {
  
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .6);
}

.header .centering-vh {
  margin-top: 25vh;
}

.header h1 {
   font-weight: bold;
   font-size: 60px;
}

.header h1 span {
   font-weight: normal;
   color: #ff8b38;
}

.header h1 ~ .lead {
   font-size: 30px;
}

.header h1 ~ .lead:after {
   content: " ";
   display: block;
   width: 80px;
   height: 3px;
   background-color: #FFF;
   margin: 30px 0px;

}

.header button {
   background: transparent;
   padding: 10px 20px;
   border: 2px solid  #ff8b38;
   margin-top: 20px;
}

.header form {
   width: 360px;
   background-color: #FFF;
   border-radius: 5px;
   overflow: hidden;
}

.header form .form-control {
   border-radius: 0;
   border: none;
   box-shadow: none;
   border-bottom: 1px solid #ccc;
   width: 80%;
   margin:0 auto 40px;
}

.header form input[type="submit"] {
   background-color:#ff8b38 ;
   padding: 20px;
}

.header form h2 {
   background-color: #f5f5f5;
   color: #333;
   font-size: 18px;
   padding: 10px;
   font-weight: bold;
}

.header form span {
   color:  #ff8b38;
}

/*Start social section*/

.social-section {
   padding: 10px;
   background-color: #FFF;
   box-shadow: -2px -5px 13px #000;
}
.social-section h4 {
   font-weight: bold;
   margin-bottom: 5px;
}
.social-section p {
   color: #244443;
   line-height: 1.4;
}

/*Start tab section*/
.tabs-section {
   padding: 50px 0;
    background-color: #f5f5f5;
}
/*Start Framework */
.uppercase {
   text-transform: uppercase;
}

.tabs-section .tab-switch li {
  background-color: #333;
  color: #FFF;
  border-bottom: 1px solid #FFF;
  height: 110px;
  line-height: 110px;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  
}

.tabs-section .tab-switch li.selected,
.tabs-section .tab-switch li:hover,
.header button:hover {
   background-color: rgb(245, 182, 9);
}


















